<div class="container">
    <div class="menu-heading">
        <app-breadcum [title]="title" [projectName]="projectName"></app-breadcum>
    </div>
    
    <h3 class="title">Add Platform Resource</h3>
    <mat-card class="resource-card">
        <div class="resource-details">
            <div class="resource-name">
                <div class="field">
                    <h4 class="box-heading">Platform Resource Name</h4>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Platform Resource Name">
                    </mat-form-field>
                </div>
                <div class="field">
                    <h4 class="box-heading">Platform Resource ID</h4>
                    <mat-form-field appearance="outline">
                        <mat-label>Select Platform Resource ID</mat-label>
                        <mat-select>
                            <mat-option value="Description 1">Description 1</mat-option>
                            <mat-option value="Description 2">Description 2</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="field status">
                <h4 class="box-heading">Status</h4>
                <mat-form-field appearance="outline">
                    <mat-label>Select Status</mat-label>
                    <mat-select>
                        <mat-option value="Active">Active</mat-option>
                        <mat-option value="Completed">Completed</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    
        <div class="button-row">
            <button class="cancel-btn" mat-button color="primary" [routerLink]="['/master']">Cancel</button>
            <button class="submit-btn" mat-button color="primary">Submit</button>
        </div>
    </mat-card>
</div>
