
<mat-card class="plugin-form">
    <h3 class="form-title">Create Plugin Form</h3>

    <mat-card class="inner-card">
        <div class="resource-container">
            <mat-form-field appearance="outline">
                <mat-label>Select Resources</mat-label>
                <mat-select>
                    <mat-option value="one" style="font-size: x-small;">First option</mat-option>
                    <mat-option value="two" style="font-size: x-small;">Second option</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="platform-container">
            <mat-form-field appearance="outline">
                <mat-label>Select Platform</mat-label>
                <mat-select>
                    <mat-option value="one" style="font-size: x-small;">First option</mat-option>
                    <mat-option value="two" style="font-size: x-small;">Second option</mat-option>
                </mat-select>
            </mat-form-field>
        </div>


       


    </mat-card>
    <div class="button-container"> 
        <button mat-button class="cancel-button">Cancel</button>
        <button mat-button class="submit-button">Submit</button>
        </div>
</mat-card>

