<h3 class="title">
    Project Title 1
</h3>

<div class="card-pair-container">

    <div class="card-pair pair-1"> 
      <mat-card class="custom-card card-1">
        <div class="card-content">
          <p>Work Item Created</p>
          <div class="image-container">
            <img src="../../../assets/png/Icon material-work-outline.png" alt="Image 1">
            <strong>5432</strong>
          </div>
        </div>
      </mat-card>
      <mat-card class="custom-card card-2">
        <div class="card-content">
          <p>Work Item Completed</p>
          <div class="image-container">
            <img src="../../../assets/png/Icon material-done-all.png" alt="Image 2">
            <strong>B123</strong>
          </div>
        </div>
      </mat-card>
    </div>
  
    <div class="card-pair pair-2">
      <mat-card class="custom-card card-3">
        <div class="card-content">
          <p>Pull Request Opened</p>
          <div class="image-container">
            <img src="../../../assets/png/Icon ion-git-pull-request-outline.png" alt="Image 3">
            <strong>453</strong>
          </div>
        </div>
      </mat-card>
      <mat-card class="custom-card card-4">
        <div class="card-content">
          <p>Commits By Author</p>
          <div class="image-container">
            <img src="../../../assets/png/Icon feather-git-commit.png" alt="Image 4">
            <strong>4532</strong>
          </div>
        </div>
      </mat-card>
    </div>
  
    <div class="card-pair pair-3">
      <mat-card class="custom-card card-5">
        <div class="card-content">
          <p>Builds Succeeded</p>
          <div class="image-container">
            <img src="../../../assets/png/Icon ion-build-outline.png" alt="Image 5">
            <strong></strong>
          </div>
        </div>
      </mat-card>
      <mat-card class="custom-card card-6">
        <div class="card-content">
          <p>Deployments Succeeded</p>
          <div class="image-container">
            <img src="../../../assets/png/Icon ion-rocket-outline.png" alt="Image 6">
            <strong></strong>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  
  

<app-project-list></app-project-list>
